/* Global CSS Rules */
body { 
    font-family: 'Comfortaa', sans-serif;
    text-align: center;
}

/* Header CSS Rules */
header {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    font-family: 'Comfortaa', sans-serif;
    background-color: teal;
    color: whitesmoke;
}

#view-scores-btn {
    height: 35px;
    width: auto;
    position: absolute;
    top: 40px;
    left: 30px;
}

#timer-container {
    height: 35px;
    width: 200px;
    position: absolute;
    top: 40px;
    right: 30px;
}

#time {
    color: blue;
}

/* Body Main CSS Rules */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 10px;
    margin-top: 100px;
}

#start-btn {
    width: 200px;
    height: 40px;
    margin-top: 40px;
}

button:hover {
    cursor: pointer;
}

/* Quiz Div Rules */
#quiz-div {
    display: none;
    width: 50%;
    text-wrap: wrap;
    text-align: left;
}

#choices-list {
    padding: 0px;
}

.choice {
    display: block;
    margin: 40px 0;
    width: 300px;
    height: 40px;
    text-align: left;
    padding-left: 15px;
}

#is-correct-text {
    border-top: 2px lightgrey solid;
    width: 280px;
    height: 40px;
    text-align: left;
    padding-top: 20px;
}

#game-over-div {
    display: none;
}

#score {
    color: blue;
}

#highscores-div { 
    display: none;
    width: 50%;
}

#highscores-list { 
    text-align: left;
    overflow: scroll;
} 

.highscore { 
    background-color: rgb(0, 128, 128, 0.3);
    height: 30px;
    padding: 20px;
    padding-bottom: 0px;
    list-style: none;
}